<!doctype html>
<html>
  <head>
    {% block head %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <title>{% block title %}Student Manager{% endblock %}</title>

    {% endblock %}
  </head>

  <header>
      {% block header %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" href="{{ url_for('index') }}">Student Manager</a>>
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto px-3">
      <li class="nav-item">
        {% if current_user.power_value == 1 %}
        <a class="nav-link" href="#">Admin</a>
        {% endif %}
      </li>
      <li>
        <a class="nav-link" href="{{ url_for('logout') }}">Sign Out</a>
      </li>
    </ul>
</nav>
      {% endblock %}
  </header>

  <body class="bg-light">
    {% block content %}

    {% endblock %}

    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
<footer>
      <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/07ff21a911.js" crossorigin="anonymous"></script>

</footer>
</html>