{% extends 'base.html' %}

{% block title %}SATCoL Assets{% endblock %}

{% block style %}
{{ super() }}
<!-- CSS  -->
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<main role="main" class="pt-3 px-4">
  <div class="pb-2 mb-3 border-bottom text-center">
    <h1>Edit Student</h1>
  </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close btn btn-sm" data-bs-dismiss="alert" aria-label="Close">
                <i class="fa-solid fa-x" style="color: #842029"></i>
            </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  <div class="container col-4">
    <form method="post">
      {{ form.csrf_token }}
      <div class="form-group">
          <div>{{ form.firstname.label }}</div>
          <div >{{ form.firstname(class="form-control") }}</div>
      </div>
      <div class="form-group">
          <div>{{ form.lastname.label }}</div>
          <div >{{ form.lastname(class="form-control") }}</div>
      </div>
      <div class="form-group">
          <div>{{ form.email.label }}</div>
          <div >{{ form.email(class="form-control") }}</div>
      </div>
      <div class="form-group">
          <div>{{ form.dob.label }}</div>
          <div >{{ form.dob(class="form-control") }}</div>
      </div>
      <div class="form-group">
          <div>{{ form.room.label }}</div>
          <div >{{ form.room(class="form-control") }}</div>
      </div>
      <br>
      <div>{{ form.submit(class="btn btn-primary") }}</div>
    </form>
  </div>

</main>

{% endblock %}