{% extends 'base.html' %}

{% block title %}SATCoL Assets{% endblock %}

{% block head %}
{{ super() }}
<!-- CSS  -->
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}

{% block content %}


<main role="main" class="pt-3 px-4">
  <h1>Welcome {{current_user.name}}</h1>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close btn btn-sm" data-bs-dismiss="alert" aria-label="Close">
                <i class="fa-solid fa-x" style="color: #004085"></i>
            </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="card">
            <a class='nav-link' href="{{url_for('new_asset')}}">
              <div class="card-body card-hover">
                <h5 class="card-title">Add Asset</h5>
                <h6 class="card-subtitle mb-2 text-muted">Click here to add a new asset</h6>
                <hr>
                <p class="card-text"><i class="fa-solid fa-computer fa-2xl"></i></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <a class='nav-link' href="{{url_for('new_user')}}">
            <div class="card-body">
              <h5 class="card-title">Add User</h5>
              <h6 class="card-subtitle mb-2 text-muted">Click here to add a new user</h6>
              <hr>
              <p class="card-text"><i class="fa-solid fa-user fa-2xl"></i></p>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reports</h5>
              <h6 class="card-subtitle mb-2 text-muted">Click here to generate reports</h6>
              <hr>
              <p class="card-text"><i class="fa-solid fa-chart-simple fa-2xl"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <h2>Assets</h2>
  <div class="table-responsive">
    <table id="main_table" class="display table table-striped table-sm">
      <thead>
        <tr>
          <th>Asset #</th>
          <th>Assigned To</th>
          <th>Date Added</th>
          <th>Serial #</th>
          <th>Device</th>
          <th>Product</th>
          <th>Decommissioned</th>
          <th>Analyst</th>
          <th>Notes</th>
          <th></th>
          {% if current_user.power_value == 1 %}
          <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for asset in all_assets %}
          <tr>
            <td>{{ asset.asset_id }}</td>
            <td>{{ asset.person.firstname}} {{ asset.person.lastname}}</td>
            <td>{{ asset.date_added }}</td>
            <td>{{ asset.serial_num }}</td>
            <td>{{ asset.device }}</td>
            <td>{{ asset.product }}</td>
            <td>{{ asset.decommissioned }}</td>
            <td>{{ asset.added_by }}</td>
            <td>{{ asset.notes }}</td>
            <td><a href="{{ url_for('edit_asset', asset_id=asset.id)}}"><i class="fa-solid fa-pen"></i></a></td>
            {% if current_user.power_value == 1 %}
            <td><a href="{{ url_for('delete_asset', asset_id=asset.id)}}"><i class="fa-solid fa-x"></i></a></td>
            {% endif %}
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}