{% extends "base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <h1>LOGIN</h1>
                        <hr>
                        <div class="form-group">
                            <div>{{ form.email.label }}</div>
                            <div >{{ form.email(class="form-control") }}</div>
                        </div>
                        <div class="form-group">
                            <div>{{ form.password.label }}</div>
                            <div >{{ form.password(class="form-control") }}</div>
                        </div>
                        <br>
                        <div>{{ form.submit(class="btn btn-primary") }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}