{% extends 'base.html' %}

{% block content %}
 <div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {{ form.csrf_token }}
                        <h1>New User</h1>
                        <hr>
                        <div class="form-group">
                            <div>{{ form.email.label }}</div>
                            <div >{{ form.email(class="form-control") }}</div>
                        </div>
                        <div class="form-group">
                            <div>{{ form.firstname.label }}</div>
                            <div >{{ form.firstname(class="form-control") }}</div>
                        </div>
                        <div class="form-group">
                            <div>{{ form.lastname.label }}</div>
                            <div >{{ form.lastname(class="form-control") }}</div>
                        </div>
                        <div class="form-group">
                            <div>{{ form.password.label }}</div>
                            <div >{{ form.password(class="form-control") }}</div>
                        </div>
                        <div class="form-group">
                            <div>{{ form.confirm_password.label }}</div>
                            <div >{{ form.confirm_password(class="form-control") }}</div>
                        </div>
                        <br>
                        <div>{{ form.submit(class="btn btn-primary") }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}